body{
  background-color: #212529;
}
.only-outline1 {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px;
}

.only-outline {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.5px;
}

.red-color {
  color: #984B53;
}

.image {
  max-width: 100%;
  max-height: 100%;
}

.what-we-do-img {
  width: 75%;
}

.mytextdiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mytexttitle {
  flex-grow: 0;
  padding-right: 3%;
}

.divider {
  flex-grow: 0.1;
  height: 1px;
  background-color: #3D4044;
}

.divider2 {
  flex-grow: 0.2;
  height: 1px;
  background-color: #3D4044;
}

.mytexttitle2 {
  flex-grow: 0;
  padding-right: 6%;
}

@font-face {
  font-family: myFirstFont;
  src: url(Sevillana-Regular.ttf);
}

#font-style-2 {
  font-family: myFirstFont;
  font-size: 20px;
}

.img-container {
  position: relative;
  text-align: center;
  color: white;
}

.top-left {
  position: absolute;
  top: 64px;
  left: 128px;
}

.divider3 {
  flex-grow: 0.08;
  height: 1px;
  background-color: #FFF;
  margin-right: 2%;
}

.mytexttitle4 {
  flex-grow: 0;
  padding-right: 12%;
}

.divider4 {
  flex-grow: 0.2;
  height: 1px;
  background-color: #3D4044;
}

.circle-image {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 300px;
  height: 300px;
}

.circle-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.light-red-color {
  color: #E0453D;
}

.form-input::placeholder {
  color: #ABABAB;
}
.logo {
  width: 50%;
}
.sidebar{
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 999;
}

.big-text{
  font-size: 6rem; 
  font-weight: bold;
  text-align: left;
}
.top-left-contact{
  position: absolute;
  top: 64px;
  left: 128px;
}
/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 768px) {
    .logo {
      width: 200%;
  }
  .top-left {
    position: absolute;
    top: 32px;
    left: 32px;
  }
  .big-text{
    font-size: 1.5rem; 
    font-weight: bold;
    text-align: left;
  }
  .small-text{
    font-size: 0.5rem; 
    text-align: left;
  }
  .mytexttitle3{
    font-size: 0.8rem !important;
  }
  .nav-link{
    color: #E0453D;
  }
  .top-left-contact{
    position: absolute;
    top: 0px !important;
    left: 0px;
  }
  .contact-us-small-left{
    text-align: left !important;
  }
  .small-screen{
    margin-top: 50%;
  }
  .circle-image {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin-bottom: -20px;
  }
}
